:root {
    --color-background: #807FB9;
    --color-circle: #F37782;
    --color-text: #FCF9F0;

    --font: 'Poppins';
    --regular-weight: 400;
    --bold-weight: 700;
    --title-size: 50px;
    --subtitle-size: 25px;
    --body-size: 18px;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font), sans-serif;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scene {
    position: fixed;
    z-index: -1;
}

.scene path {
    fill: var(--color-circle);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-decoration: none;
    font-size: var(--subtitle-size);
}

nav a:hover,
nav a:focus {
    outline: none;
}

nav a {
    padding: 8px 0;
    cursor: pointer;
}

nav a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--color-text);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0 50px;
}

.title {
    font-size: var(--title-size);
    font-weight: var(--regular-weight);
    max-width: 990px;
    margin-bottom: 0;
}

.title-emphasis {
    font-weight: var(--bold-weight);
}

.experience-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.experience-link-container p {
    cursor: pointer;
    font-size: var(--subtitle-size);
    margin-bottom: 0;
}

.experience-link-container img {
    transition: transform 500ms ease-out;
}

.experience-link-container p:hover ~ img {
     transform: translateY(15px);
}

.experience-container {
    padding: 0 50px;
}

.item-heading {
    display: flex;
    align-items: center;
    font-size: var(--subtitle-size);
}

.item-heading p {
     margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

.item-heading img {
    margin-right: 10px;
}

.item-heading .job {
    font-weight: var(--bold-weight);
}

.item-heading .job span {
    font-weight: var(--regular-weight);
}

.item-heading .secondary-info {
    display: flex;
    align-items: center;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 15px;
}

.list ul {
    list-style-image: url('assets/arrow-right.svg');
}

.list li {
    font-size: var(--body-size);
    margin-bottom: 7px;
}

