:root {
    --color-background: #807FB9;
    --color-circle: #F37782;
    --color-text: #FCF9F0;
    --color-link: #FFD24A;

    --font: 'Poppins';
    --regular-weight: 400;
    --bold-weight: 700;
    --title-size: 50px;
    --subtitle-size: 25px;
    --body-size: 18px;
    --small-size: 14px;

    --mobile-subtitle-size: 20px;
    --mobile-body-size: 16px;
    --mobile-small-size: 13px;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font), sans-serif;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scene {
    position: fixed;
    z-index: -1;
}

.scene path {
    fill: var(--color-circle);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--subtitle-size);
}

nav a:hover,
nav a:focus {
    outline: none;
}

nav a {
    padding: 8px 0;
    cursor: pointer;
}

nav a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--color-text);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0 50px;
}

.title {
    font-size: var(--title-size);
    font-weight: var(--regular-weight);
    max-width: 990px;
    margin-bottom: 0;
}

.title-emphasis {
    font-weight: var(--bold-weight);
}

.experience-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.experience-link {
     cursor: pointer;
     display: flex;
     align-items: center;
     flex-direction: column;
    color: var(--color-text);
    text-decoration: none;
 }

.experience-link p {
    font-size: var(--subtitle-size);
    margin-bottom: 0;
}

.experience-link-container img {
    transition: transform 500ms ease-out;
}

.experience-link:hover img {
    transform: translateY(15px);
}

.experience-container {
    padding: 0 50px;
}

.experience-item {
    margin-bottom: 75px;
}

.experience-item a {
    color: var(--color-link);
    font-weight: var(--bold-weight);
    text-decoration: none;
    display: inline-block;
}

.experience-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-link);
    transition: width .5s;
}

.experience-item a:hover::after {
    width: 100%;
}

.item-heading {
    display: flex;
    align-items: center;
    font-size: var(--subtitle-size);
}

.item-heading p {
     margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

.item-heading img {
    height: 10px;
    width: auto;
    margin-right: 10px;
    padding-bottom: 3px;
}

.item-heading .job {
    font-weight: var(--bold-weight);
}

.item-heading .job span {
    font-weight: var(--regular-weight);
}

.item-heading .secondary-info {
    display: flex;
    align-items: center;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 15px;
}

.list {
    margin-bottom: 20px;
}

.list ul {
    list-style-image: url('assets/arrow-right.svg');
}

.list li {
    font-size: var(--body-size);
    margin-bottom: 7px;
}

.tag {
    color: var(--color-background);
    background-color: var(--color-text);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: var(--small-size);
}

.top-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.top-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    color: var(--color-text);
    text-decoration: none;
}

.top-link p {
    font-size: var(--subtitle-size);
    margin-top: 0;
}

.top-link img {
    transform: rotate(180deg);
    transition: transform 500ms ease-out;
}

.top-link:hover img {
    transform: rotate(180deg) translateY(15px);
}

ul {
    max-width: 1200px;
}

@media (max-width: 1260px) {
    .item-heading {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .item-heading img {
        padding-bottom: 14px;
    }

    .item-heading > img {
        display: none;
    }

    p.job {
        margin-bottom: 0;
    }

    .secondary-info p {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    p.job {
        font-size: var(--mobile-subtitle-size);
    }

    .secondary-info p {
        font-size: var(--mobile-body-size);
        font-weight: var(--bold-weight);
    }

    li {
        font-size: var(--mobile-body-size);
    }

    .tag {
        font-size: var(--mobile-small-size);
        padding: 3px;
    }

    .experience-container {
        padding: 0 10px;
    }
}

@media (max-width: 425px) {
    .item-heading .secondary-info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .secondary-info p:first-of-type {
        margin-bottom: 0;
    }

    .secondary-info img {
        display: none;
    }
}
